.main-body {
  display: inline-block;
  width: 100%;
}

:host ::ng-deep .mat-tab-label-active {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

:host ::ng-deep .mat-tab-label {
  background-color: gainsboro; /*TODO: add proper color*/
}

.mat-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: rgb(0 0 0 / 12%);
  flex-shrink: 0;
}

.mat-tab-label-active {
  background-color: #f8f9fa !important;
  opacity: 1;
  border: 1px solid #000;
}

.mat-tab-list {
  width: 100%;
}

.mat-tab-body-wrapper {
  height: fit-content;
}

.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
  float: right;
}
