HELP.md
target/
!**/src/main/**
!**/src/test/**
!**/lib/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
overlays/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### Maven ###
.mvn/wrapper/maven-wrapper.jar

### Logs ###
logs/

# npm cache
/tara-admin-ui/npm/cache/*

.env
